body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.sec1 {
  margin: auto;
  max-width: 1320px;
}
.sec1 .txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
.sec1 .txt > div:nth-of-type(1) {
  margin: 5px 915px 40px 15px;
  padding-left: 4px;
}
.sec1 .txt > div:nth-of-type(2) {
  border: 2px solid transparent;
  margin-top: 21.88px;
  padding: 6px 40px 6px 0px;
  margin-bottom: 39px;
}
.sec1 .txt > div:nth-of-type(2) a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.sec1 .bod {
  padding: 0px 15px 0px 15px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "a1 a2 a2 a3 a3" "a4 a5 a6 a3 a3";
}
.sec1 .bod div:nth-of-type(1) {
  grid-area: a1;
}
.sec1 .bod div:nth-of-type(2) {
  grid-area: a2;
}
.sec1 .bod div:nth-of-type(3) {
  grid-area: a3;
}
.sec1 .bod div:nth-of-type(4) {
  grid-area: a4;
}
.sec1 .bod div:nth-of-type(5) {
  grid-area: a5;
}
.sec1 .bod div:nth-of-type(6) {
  grid-area: a6;
}
.sec1 .bod img {
  border-radius: 12px;
}

.sec2 {
  max-width: 1920px;
  background-color: rgba(235, 102, 43, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 120px;
}
.sec2 > div:nth-of-type(1) {
  padding: 124px 0px 60px 0px;
  font-family: Inter;
  font-size: 29.53px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}
.sec2 > div:nth-of-type(2) {
  padding-bottom: 40px;
}
.sec2 > div:nth-of-type(3) {
  text-align: center;
  padding: 66.5px;
  font-family: Inter;
  font-size: 19.53px;
  font-weight: 500;
  line-height: 37.5px;
}
.sec2 > div:nth-of-type(4) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 120px;
}

.sec3 {
  max-width: 1920px;
  background-color: rgb(5, 7, 60);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3 .txt3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1035px;
}
.sec3 .txt3 h2 {
  font-family: Inter;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.sec3 .txt3 p {
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.sec3 .contt {
  display: flex;
  gap: 22px;
}
.sec3 .contt img {
  width: 409.98px;
  height: 299.98px;
  top: 95px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
}
.sec3 .contt .p1 {
  display: flex;
  color: white;
  gap: 20px;
  font-family: Inter;
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
.sec3 .contt .p1 > p:nth-of-type(1) {
  border-right: 1px solid white;
  padding-right: 20px;
}
.sec3 .contt .p2 {
  color: white;
  font-family: Inter;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

main section {
  font-family: Inter;
}
main section .span {
  margin: 10px 115px;
}
main section .span span:nth-of-type(1) {
  margin-right: 20px;
  border-bottom: 2px solid #05073C;
  padding-bottom: 10px;
}
main section .span span:nth-of-type(2) {
  -moz-columns: #000000;
       columns: #000000;
}
main section .locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 115px;
}
main section .locations .location-1, main section .locations .location-2, main section .locations .location-3, main section .locations .location-4 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
}
main section .locations .location-1 a, main section .locations .location-2 a, main section .locations .location-3 a, main section .locations .location-4 a {
  text-decoration: none;
  color: #05073C;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 0;
}
main #image-section {
  background-image: url(image-section.png);
  width: auto;
  height: 498px;
  background-position: center;
  background-size: cover;
}
main #image-section .text {
  margin: 120px 0 0 300px;
  width: 550px;
  height: 258px;
  color: rgb(255, 255, 255);
}
main #image-section .text h4 {
  font-size: 29px;
  padding-top: 120px;
  width: 432px;
}
main #image-section .text p {
  font-size: 14px;
}
main #image-section .text .input {
  position: relative;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
main #image-section .text .input input {
  background-color: transparent;
  padding: 30px 25px;
  width: 450px;
  border: none;
}
main #image-section .text .input input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
main #image-section .text .input input::placeholder {
  color: rgb(255, 255, 255);
}
main #image-section .text .input button {
  position: absolute;
  left: 440px;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: rgb(255, 255, 255);
  font-family: Inter;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
}

footer {
  font-family: Inter;
}
footer .contact {
  display: flex;
  justify-content: space-between;
  padding: 90px 105px 60px 105px;
}
footer .contact p span {
  color: #4A43C4;
}
footer hr {
  width: 1290px;
  color: lightgray;
}
footer .links {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
footer .links p {
  font-size: 14px;
}
footer .links .company-link {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
footer .links .company-link a {
  text-decoration: none;
  color: #000000;
  margin: 5px 0;
  font-size: 12px;
}
footer .links .company-link .footer-input {
  position: relative;
}
footer .links .company-link .footer-input input {
  padding: 20px 22px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
footer .links .company-link .footer-input button {
  position: absolute;
  left: 150px;
  padding: 20px 22px;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
}
footer .bottom-footer p {
  font-size: 12px;
}

#bg {
  width: 100%;
  z-index: -1;
  position: absolute;
}

#float {
  position: absolute;
  height: 750px;
  width: 340px;
  top: 185px;
  left: 65%;
}
#float img {
  width: 100%;
}

header {
  height: 1050px;
}
header nav {
  height: 88px;
  width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 25px;
}
header nav ul li:nth-of-type(2) {
  color: rgb(255, 124, 46);
}
header nav > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav > div > div:nth-of-type(4) {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-radius: 25px;
}
header p {
  font-size: 14px;
  margin-top: 65px;
  margin-left: 22%;
}
header > div {
  width: 480px;
  font-weight: 600;
  font-size: 60px;
  margin-left: 22%;
}

#loc {
  width: 1320px;
  margin: auto;
}
#loc section:nth-of-type(1) {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
#loc section:nth-of-type(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 100px;
}
#loc section:nth-of-type(2) > div {
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#loc section:nth-of-type(2) > div h2 {
  font-size: 42px;
  margin: 0%;
}
#loc section:nth-of-type(2) > div span {
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  width: 120px;
  font-weight: 600;
  color: black;
  background-color: aliceblue;
}
#loc section:nth-of-type(2) > div:nth-of-type(1) {
  height: 390px;
  width: 630px;
  border-radius: 10px;
  background-image: url("./img/text.png");
  background-position: center;
  background-size: cover;
}
#loc section:nth-of-type(2) > div:nth-of-type(2) {
  height: 390px;
  width: 630px;
  border-radius: 10px;
  background-image: url("./img/text (1).png");
  background-position: center;
  background-size: cover;
}

#com {
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.pop {
  margin: auto;
  max-width: 1320px;
}
.pop .get {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
.pop .get > div:nth-of-type(1) {
  margin: 5px 915px 40px 15px;
  padding-left: 4px;
}
.pop .get > div:nth-of-type(2) {
  border: 2px solid transparent;
  margin-top: 21.88px;
  padding: 6px 40px 6px 0px;
  margin-bottom: 39px;
}
.pop .get > div:nth-of-type(2) a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(186, 14, 14);
}
.pop .sel-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.Trip {
  margin: auto;
  max-width: 1320px;
}
.Trip .set {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
.Trip .set > div:nth-of-type(1) {
  margin: 5px 915px 40px 15px;
  padding-left: 4px;
}
.Trip .set > div:nth-of-type(2) {
  border: 2px solid transparent;
  margin-top: 21.88px;
  padding: 6px 40px 6px 0px;
  margin-bottom: 39px;
}
.Trip .set > div:nth-of-type(2) a {
  width: 220px;
  height: 60px;
  top: 5px;
  left: 1085px;
  padding: 15.94px 20.8px 15.93px 21px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #E7E6E6;
}
.Trip .Future {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */